.arsenal{
	margin-top: 50px;
}

.awang {
	max-width: 60%;
	height: auto;
	border-radius: 100%;
	padding: -1px;
	border: 10px solid white;
}

.overlay {
	max-width:30em;
	text-align: center;
	margin: 0 auto 0 auto;
	color: white;
}

.bar{
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;	z-index: 0;
  	box-shadow: 20px 0 100px 10px white;
}
.page1{
	background: url("../assets/bgblur.jpg") center;
	background-attachment: fixed;
  		}
.page2{
	background: url("../assets/bg.jpg") center;
	background-attachment: fixed;
 }
.name {
	font-size: 30px;
}

.table{
	height:80%;	
	width:80%;
	margin:0 auto;
	text-align: center;
	background-color: #FAFAFA;
  	box-shadow: 5px 5px 5px black;
}

.header {
	position:absolute;
	padding:0;
	text-align:center;
	height:2em;
	width:100%;
	background-color: #FAFAFA;
	margin:0;
	z-index:5;
}

.button{
	text-align: center;
	/*border:black solid;*/
	padding:2px 0 2px 0;
	display:inline-block;
	width:20%;
}
.button--highlighted{
	border-bottom:solid black 2px;
}
.button:hover{
    border-bottom:solid black 2px;
}
.languages{
	margin-left:20%;
	text-align: left;
}
a{
	color:black;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;    
}

.arrow{
	padding-top: 1em;
	text-align: center;
	opacity:0.5;
}

.head {
	padding-top:20px;
}

@media only screen and (max-width: 360px) {
   h1{
   	font-size: 0.8em;
   }
   a { font-size: 0.8em; }

}